<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<plugins>
	<plugin interceptor="com.piaohai.mis.common.page.PagePlugin">
		<property name="dialect" value="oracle"/>
		<property name="pageSqlId" value=".*ListPage.*"/>
	</plugin>
	<plugin interceptor="com.piaohai.mis.common.interceptor.UpdatePlugin"/>
</plugins>

</configuration>